@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');



*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e4cda9;
    color: #463705fe;
    font-size: 16px;
    width: 60%;
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    margin: 0 auto;
}

h2,h3,h4,h5,h6{
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem;
    padding: 1rem;
}
.Title{
    margin: 3rem;
    padding: 2rem;
    justify-content: middle;
}
.TitleImg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    height: 100%;
}
.Sep{
    display: flex;
    background-color: #694916;
    width: 100%;
    height: 10px;

}

button{
    font-family: avantgarde, avantgarde-regular, sans-serif;
    background-color: #e4cda9;
    border:none;
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    display: flex;
    text-align: center;
}

a{
   color: rgb(125, 94, 15);
   
}